html {
  background-image: url('../public/beach_wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.body {
  position: absolute;
  width: 100%;
  z-index: 5;
  padding-bottom: 100px;
}

.home {
  margin-top: 150px;
  color: rgba(240,240,240,0.8);
}

.home hr {
  width: 70%;
  background-color: rgba(245,245,245,0.5);
}

.home h3 {
  font-weight: 200;
  text-shadow: -2px 2px 20px rgba(245,245,245,0.9);
}

.card {
  background-color: rgba(245,245,245,0.3)!important;
  padding: 20px;
  box-shadow: -2px 2px 10px rgba(245,245,245,0.5);
  transition: 0.4s;
}

.card:hover {
  margin-top: -10px;
}